<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <div>
      <div>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a id="user" onclick="generateURL()" href="/users/">User</a></li>
          <li><a href="/users/register">Register</a></li>
          <li><a href="/users/login">Login</a></li>
          <li><a href="/users/photos">Photos</a></li>
        </ul>
      </div>
      {{if .}}
      <div>
        <h2>You are Currently Logged in as :</h2>
        <h3>Username : {{.Username}}</h3>
        <h3>Email : {{.Email}}</h3>
        <h3 id="userID">{{.ID}}</h3>
      </div>
      {{end}}

      <form action="" method="POST">
        <input type="file" name="fileInput" id="fileInput" accept="image/*" />
      </form>
    </div>
    <div class="pictures"></div>
  </body>
  <script>
    function generateURL() {
      const URL = document.getElementById("user").href;
      document.getElementById("user").href =
        "/users/" + document.getElementById("userID").textContent;
      console.log(document.getElementById("userID").textContent);
      console.log(URL);
    }
  </script>
  <style>
    body {
      background-color: black !important;
      color: white;
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      /* grid-template-columns: ; */
      align-items: center;
      justify-content: center;
      gap: 10px;
    }

    div {
      background-color: #212328;
      border-radius: 20px 20px;
      padding: 10px;
      padding-bottom: 15px;
    }
    div .pictures {
      padding: 20px;
    }
  </style>
</html>
